<div class="col-md-6 mt-2 mx-auto">
        <form action="/users/login" method="POST" class="row g-3">
          <div class="col-md-6">
            <label class="form-label">Username</label>
            <input type="text" name="username" class="form-control" placeholder="Enter username">
          </div>
          <div class="col-md-6">
            <label class="form-label">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Create Password">
          </div>
          <div class="col-12">
            <button class="btn btn-outline-info" type="submit">Login</button>
          </div>
          <p>If you have not registered yet, <a href="/users/register">Click here</a></p>
        </form>
      </div>
    </div>
