<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>menu}}
    <br>
    
    <h3>Welcome back, {{firstName}}!</h3>
    <br>
    <h4><i>What are you working on?</i></h4>
    {{! this adds a post }}
    <form method="POST" action='/posts/add-post' id='inputContainer'>
        <div id="subjectDiv">
            <input type="text" placeholder="Title" id="titleTextBox" name="title"/>
            
        </div>
        <div id="bodyDiv">
            <input type="text" placeholder="Body" id="bodyTextBox" name="body"/>
        </div>
        <div id="projectUrl">
            <input type="text" placeholder="projectUrl" id="projectUrlTextBox" name="projectUrl"/>
        <div id="submitDiv">
            <button id="postButton">Post</button>
        </div>
    </form>
    <br>
    <br>

<h4><i>Discover What Other Developers are Listening to</i></h4>
    {{! this display posts from all users }}
    <div id='postsContainer'>
        {{#posts}}
        <form class='post_container' method="POST" action='/delete-post'>
            <input type="hidden" value="{{id}}" name="postId"/>
            <div><b>{{title}}</b></div>
            <div>{{username}}</div>
            <div>{{firstName}}</div>
            <div>{{updatedAt}}</div>
            <div>{{body}}</div>
            <a target="_blank" href="{{projectUrl}}">Project Link</a>
        </form>
        <a href = "/playlists/mycollection/{{userId}}">Check out what I'm listening to</a>
        <br>
        <br>
        {{/posts}}
    {{>footer}}
    </div>
</body>
</html>