<html>
<head>
<title>my collection</title>
</head>
<body>

{{#collections}}


{{songTitle}}  ,  {{artist}}<br>
{{albumTitle}}<br>
<img src="{{coverUrl}}"><br>
<button><a target="_blank" href="{{previewUrl}}">preview</a></button>

<br><br><br>
{{/collections}}
</body>

</html>