<html>
<head>
{{>header}}
</head>
<body>
{{>menu}}
{{#collections}}


{{songTitle}}  ,  {{artist}}<br>
{{albumTitle}}<br>
<img src="{{coverUrl}}"><br>
<button><a target="_blank" href="{{previewUrl}}">preview</a></button>
<form method="post" action="/playlists/delete-collection">
<input type="hidden" name="collectionId" value="{{id}}">
<button>Remove This Track</button>
</form>
<br><br><br>
{{/collections}}
{{>footer}}
</body>

</html>