<!DOCTYPE html>
<html lang="en">
<head>
    {{> header}}
    <link rel="stylesheet" href="../styling/css/homepagestyling.css">
</head>
<body>
  <div class="homepageBody">
   {{> menu}}
   <div class="welcomeText">
   <p>Music sharing for developers, By developers</p>
    <a href="users/register">
    <button type="button" class="btn btn-light signupButton">Sign up now</button>
   </a>
    </div>
    </div>

    {{>footer}}
</body>
</html>