<!DOCTYPE html>
<html lang="en">
<head>
    {{> header}}
</head>
<body>
   {{> menu}}
    <div>
       <form method="post" action="/searches/search">
          <input type="text" name="searchtextbox" placeholder="search here">
          <button>submit</button>
       </form> 
    </div>

    {{>footer}}
</body>
</html>