<!doctype html>
<html lang="en">
  <head>
    {{> header}}
    <link rel="stylesheet" href="../styling/css/login-register-styling.css">
  </head>
  <body>
    {{> menu}}
    <h1>Login</h1>
    {{> login-layout}}
    
    <div id="messageContainer">
      <h1>{{message}}</h1>
    </div>
    <div class="spaceDiv"></div>
  {{> footer}}
  </body>
</html>