<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>musiCode</title>
</head>
<body>
    {{>menu}}
    <br>
    
    <h3>Hello, {{firstName}}!</h3>
    
    <h4><i>You are viewing all of your posts.</i></h4>
    <br>

    {{! this display posts from all users }}
    <div id='postsContainer'>
        {{#posts}}
        <form class='post_container' method="POST" action='/display-my-post'>
            <input type="hidden" value="{{id
            <input type="hidden" value="{{id}}" name="postId"/>
            <div><b>{{title}}</b></div>
            <div>{{body}}</div>
            <a target="_blank" href="{{projectUrl}}">Project Link</a>
            <br>
            <br>
        {{/posts}}
    </div>
    {{>footer}}
</body>
</html>