<!DOCTYPE html>
<html lang="en">
<head>
    {{> header}}
</head>
<body>
   {{> menu}}

    <div id='postsContainer'>
        {{#posts}}
        <form class='post_container' method="POST" action='/posts/my-posts'>
            <input type="hidden" value="{{id}}" name="postId"/>
            <div>{{title}}</div>
            <div>{{body}}</div>
            <a target="_blank" href="{{projectUrl}}">Project Link</a>
            <div><button>Delete</button></div>
        </form>
        {{/posts}}
    </div>
     {{> footer}}
</body>
</html>
