<!doctype html>
<html lang="en">
  <head>
    {{> header}}
  </head>
  <body>
    {{> menu}}
    <h1>Register</h1>
    {{> registration-layout}}
    
    <div id="messageContainer">
      <h1>{{message}}</h1>
    </div>

    {{> footer}}
  </body>
</html>