Body {
    background-image: url('images/bluepurpleblob.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    margin: 0;
  }

.welcomeText {
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.89);
  height: 200px;
  text-align: center;
  margin: auto;
  padding: 50x 0;
}

