body {
    background-color:#f1f4f7;
}

.headingTitle{
    text-align: center;
  }
  
/* h3, h4 {
  font-family: 'Roboto Slab', serif;
  font-weight:bolder;
} 
   */
footer {
    position: static;
    bottom: 0;
    width: 100%;
  }

  