body {
    background-color:#f1f4f7;
}

.headingTitle{
    text-align: center;
}

#postCardHeader {
}
  
h3, h4 {
  font-family: 'Roboto Slab', serif;
} 
 
footer {
    position: static;
    bottom: 0;
    width: 100%;
  }

  
.news-card {
    border-radius: 8px
}

.news-feed-image {
    border-radius: 8px;
    width: 100%
}

.date {
    font-size: 12px
}

.username {
    color: blue
}
